@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");


* body {
  font-family: "Rajdhani";
  min-height: 400px;
    background-image: url("https://i.pinimg.com/564x/2f/b6/34/2fb6342fb98d1f101322d58795d5286f.jpg");
    background-color: #e096c1;
    background-size: 250vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .container {
    padding: 20px;
    height: 90vh;
  }
  .page-title {
    text-align: center;
    color:rgba(102, 34, 74, 0.959);
    margin: 0px;
  }
  .page-subtitle {
    text-align: center;
    color:#000;
    margin-top: 5px;
  }
  .page-logo {
    width: 0px;
  }
  .alura-logo {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  input:hover, textarea:hover, input:focus, textarea:focus {
      border-color: #447a91 ;
      box-shadow: 5px 0px 9px #bee6f7;
      background-color: #447a91 ;
      color: black;
      font-weight: #447a91;
      font-family: "Rajdhani";

  }
  
 main{
    display: flex;
    width: 50vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    background: #cce3ed;
    width: 400px;
    height: 550px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 60px;
    box-shadow: 0 0 10px black;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
  }
  
  .input label {
    font: bold 1.5rem serif;
  }
  
  button{
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background: #9dbcc9;
    color: #000;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rajdhani";

  } 
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: 'Lucida Sans' 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #9dbcc9;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    font-family: "Rajdhani";
  }